<div class="app-content">
  <!-- Buttons -->
  <md-card>
    <button md-button>FLAT</button>
    <button md-raised-button>RAISED</button>
    <button md-raised-button color="primary">PRIMARY RAISED</button>
    <button md-raised-button color="accent">ACCENT RAISED</button>
  </md-card>

  <!-- Checkboxes -->
  <md-card>
    <md-checkbox>Unchecked</md-checkbox>
    <md-checkbox [checked]="true">Checked</md-checkbox>
    <md-checkbox [indeterminate]="true">Indeterminate</md-checkbox>
    <md-checkbox [disabled]="true">Disabled</md-checkbox>
  </md-card>

  <!-- Slider -->
  <md-card>
    <md-slider min="1" max="5"></md-slider>
  </md-card>
  
</div>